
<style>
    .btn{
        margin-top: 5%;
        margin-left: 10%;
    }
    H1{
        margin-left: 27%;
        margin-top: 3%;
        background-image: linear-gradient(rgb(17, 97, 17),rgb(68, 228, 47));
        width: max-content;
        color: brown;
    }
</style>
<H1>
    ADD YOUR NEW TOPIC!!
</H1>
    
    <div>
        <form class="btn" method="POST" action="">
            {% csrf_token %}
            {{topicadd.as_p}}
            <input type="submit" value="Submit" />
        </form>
        <div class="btn">
            <a href="{% url 'noteadd' %}">GO BACK</a>
        </div>
    </div>