<style>
    .time{
        font-size: 60%;
    }

    .items{
        margin:1%;
    }

    H1{
        margin-left: 27%;
        margin-top: 3%;
        background-image: linear-gradient(rgb(17, 97, 17),rgb(68, 228, 47));
        width: max-content;
        color: brown;
    }
    a{
        background-image: linear-gradient(rgb(128, 41, 0),rgb(233, 191, 136));
        border-radius: 10%;
        text-decoration: none;
        color: black;
        padding: 0.5%;
    }
</style>
<H1>
    THESE ARE THE EXISTING NOTES
</H1>

<H3>
    BROWSE THE EXISTING NOTES
</H3>

<form method="get" action="{% url 'notes' %}">
    <input width="100px" type="text" name="s" placeholder="search by topic name..!!" />
</form>
<b><a href="{% url 'noteadd' %}">CREATE NEW NOTE</a> || <a href="{% url 'bookmark' %}">CLICK TO VIEW BOOKMARKS</a></b>
<div>
    {% for des in desc %}
    <ul>
        {% if des.bookmark == 1 %}
        <h6>bookmarked</h6>
        {% endif %}
    <li class="items">CATEGORY: {{des.topic.category.category}}</li>
    <li class="items">Topic: {{des.topic.topic}} </li>
    <li class="items"> Description:- {{des.description}} </li>
    <li class="items"> IMAGE:- {{des.image}} </li>
    <li class="items" class="time">Created on:- {{des.time}}</li>
    <li class="items" class="time">Last Updated on:- {{des.time_updated}}</li>
    </ul>
<b><a href="{% url 'noteview' des.id %}">VIEW</a>  <a href="{% url 'noteupdate' des.id %}">EDIT</a>    <a href="{% url 'notedelete' des.id %}">DELETE</a>  {% if des.bookmark == 0 %}
    <a href="{% url 'addbookmark' des.id %}">ADD BOOKMARK</a> {% else %} <a href="{% url 'removebookmark' des.id %}">REMOVE BOOKMARK</a>
    {% endif %} </b>
    <hr>
    {% endfor %}
</div>
<a href="{% url 'home' %}">GO BACK</a>